[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
requests = "*"
thefuzz = {extras = ["speedup"], version = "*"}

[dev-packages]
pytest = "*"
pre-commit = "*"
pylint = "*"
mypy = "*"
pytest-cov = "*"
types-requests = "*"
sqlalchemy = "*"
discord = "*"
yes-i-hate-it = {editable = true, path = "."}
nltk = "*"
unidecode = "*"
numpy = "*"
matplotlib = "*"
tensorflow = "*"
