[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
requests = "*"

[dev-packages]
pytest = "*"
pre-commit = "*"
pylint = "*"
mypy = "*"
pytest-cov = "*"
types-requests = "*"
sqlalchemy = "*"

[packages.thefuzz]
extras = [ "speedup",]

[dev-packages.e1839a8]
path = "."
editable = true
