[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"

[dev-packages]
pytest = "*"
pre-commit = "*"
pylint = "*"
mypy = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"

[dev-packages.e1839a8]
path = "."
editable = true
